@font-face {
  font-family: "arial";
  src: url("./../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
  font-family: "georgia";
  src: url("./../../assets/fonts/georgia/georgia-regular.ttf");
}

* {
  box-sizing: border-box;
  transition: 0.6s;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  font-size: 15px;
}
a {
  text-decoration: none;
}
h1 {
  margin: 0;
}
h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}
p {
  color: #4c4c4c;
  line-height: 24px;
  margin: 0;
}
/* grid */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
section {
  padding-top: 80px;
  padding-bottom: 100px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row.align_items_center {
  align-items: center;
}
.row.justify_content_center {
  justify-content: center;
}
.row.justify_content_between {
  justify-content: space-between;
}
/*main_banner*/
.gradient_wrap {
  background: radial-gradient(circle at 14% 6%, #544236, #222021 50%);
}

.main_banner {
  background: url("./../../assets/images/start-screen-puppy.png") 95% 100%
    no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header_title {
  font-size: 32px;
  font-family: "georgia";
  color: #f1cdb3;
  margin-bottom: 10px;
  letter-spacing: 0.06em;
}

.header_subtitle {
  font-size: 13px;
  font-family: "arial";
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0.1em;
}

.banner_title {
  font-family: "georgia";
  font-size: 44px;
  color: #ffffff;
  font-weight: 400;
  line-height: 57px;
  max-width: 310px;
}

.banner_copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 223px;
  padding-bottom: 243px;
}
.banner_content {
  max-width: 460px;
  color: #cdcdcd;
}

/* nav */
.nav_link {
  color: #cdcdcd;
  margin: 0 17.5px;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
}
.nav_link:hover,
.nav_link.active {
  border-color: #f1cdb3;
}

/* about */

.heading {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  font-family: "georgia";
  color: #545454;
  max-width: 400px;
}
.content_block {
  max-width: 430px;
}
/* card */
.card {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  color: #545454;
  align-items: center;
}
.card_title {
  font-family: "georgia", serif;
  font-size: 20px;
  line-height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* button */
.main_btn {
  font-family: "georgia", serif;
  font-size: 17px;
  line-height: 22px;
  display: block;
  padding: 13px 45px;
  background: #f1cdb3;
  color: #292929;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}
.main_btn.btn_white {
  background: #fafafa;
}
/* helpers */
.text_center {
  text-align: center;
}
.mx_auto {
  margin-left: auto;
  margin-right: auto;
}
.bg_gray {
  background: #f6f6f6;
}
.max_w_360 {
  max-width: 360px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_60 {
  margin-bottom: 60px;
}
@media (min-width: 769px) {
  .gap_lg_120 {
    gap: 120px;
  }
}
/* icons */
.icon_title {
  font-size: 20px;
  font-family: "georgia";
  color: #545454;
}
.icon_button {
  display: flex;
  flex-wrap: wrap;
  gap: 0 120px;
  justify-content: center;
}

.donation {
  background: #f6f6f6;
  justify-content: center;
  align-items: center;
}
.donation_section {
  display: flex;
  justify-content: space-between;
}
.donation_heading {
  width: 74.7%;
  max-width: 300px;
}
.donation_subheading {
  margin-top: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #545454;
}
.donation__card {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  display: flex;
  padding: 10px 10px;
  margin: 20px 0;
}
.donation_text {
  font-family: "arial";
  width: 380px;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
