@font-face {
  font-family: "arial";
  src: url(/shelter/assets/fonts/arial/arial-regular.ttf);
}

@font-face {
  font-family: "georgia";
  src: url(/shelter/assets/fonts/georgia/georgia-regular.ttf);
}
body  {
  font-family: arial, sans-serif;
}

 /* container */
.container  {
  max-width: 1280px;
  margin: 0 auto;
}

  /* intro */
.intro  {
  max-width: 1200px;
  margin: 0 auto;
  height: 908px;
  background: url('/shelter/assets/images/Start\ screen.jpg') center no-repeat;
  background-size: cover; /* всю площ экрана */
}

  /* header */
.header {
  width: 100%;
  position: absolute;
}

.header_title  {
  height: 35px;
  left: 0px;
}

.header_subtitle {
  position: absolute;
  width: 179px;
  height: 15px;
  left: 4px;
}

  /* nav */
.nav  {
  font-size: 15px;
  position: absolute;
  height: 27px;
  left: 757px;
  top: 16px;
}

.nav_link {
  color:#CDCDCD;
  margin:0 5px;
}
