@font-face {
  font-family: "arial";
  src: url("./../../assets/fonts/arial/arial-regular.ttf");
}

@font-face {
  font-family: "georgia";
  src: url("./../../assets/fonts/georgia/georgia-regular.ttf");
}

* {
  box-sizing: border-box;
  transition: 0.6s;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
  font-size: 15px;
}
a {
  text-decoration: none;
}

/* container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

/*main_banner*/
.gradient_wrap {
  background: radial-gradient(circle at 14% 6%, #544236, #222021 50%);
}

.main_banner {
  background: url("./../../assets/images/start-screen-puppy.png") 95% 100%
    no-repeat;
  min-height: 908px;
  max-width: 1280px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.header_title {
  font-size: 32px;
  font-family: "georgia";
  color: #f1cdb3;
}

.header_subtitle {
  font-size: 13px;
  font-family: "arial";
  color: #ffffff;
}

/* nav */
.nav_link {
  color: #cdcdcd;
  margin: 0 17.5px;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent;
}
.nav_link:hover,
.nav_link.active {
  border-color: #f1cdb3;
}

/* about */
/* row */
.col_w_40 {
  float: left;
  padding-right: 120px;
}

.col_w_60 {
}

.heading {
  font-size: 35px;
  font-weight: 370;
  font-family: "georgia";
  color: #545454;
}

.subheading {
  font-size: 15px;
  font-family: "arial";
  font-weight: 430;
  color: #4c4c4c;
}
