/*main*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/*components*/
    /*card*/
.skills-card {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.card-title {
    font-size: 20px;
}
    /*//card*/

    .section-header {
        font-family: 'Merriweather', serif;
        font-size: 40px;
        line-height: 80px;
        color: #BDAE82;
        text-align: center;
    
        margin-bottom: 60px;
    }
    
    .gallery-item {
        margin: 25px 15px;
        max-width: 450px;
    }
    
    /*.section-header span {*/
    /*    position: relative;*/
    /*}*/
    
    /*.section-header span:before {*/
    /*    content: '';*/
    /*    width: 200px;*/
    /*    height: 2px;*/
    /*    background: #BDAE82;*/
    
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: -220px;*/
    /*}*/
    /*.section-header span:after {*/
    /*    content: '';*/
    /*    width: 200px;*/
    /*    height: 2px;*/
    /*    background: #BDAE82;*/
    
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    right: -220px;*/
    /*}*/
    
    /*helpers*/
    .m-25 {
        margin-left: 25px;
        margin-right: 25px;
    }
    .mb-50 {
        margin-bottom: 50px;
    }
    .p-40 {
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    .justify-content-center {
        justify-content: center;
    } 

    .Contact{
        display: flex;
        justify-content: flex-end;
        margin-top: 87.5px;
        height: 705px;
        background: url(https://s3-alpha-sig.figma.com/img/bb16/a13c/a1a2e2626ca658fe87e53a9bae63dac1?Expires=1642982400&Signature=U2h6wLmbZNcAcBKM0B0CvnnQEIdlT0l8xjbeLFf9wVJBMPyG1Sq-6W-hDi5mASaLzqcIIrOf6nfWo6g7RW7TlI6ttlXpOCWg2ZudNKzw-wV4dDjBkBxBhleLpEllj3F-~Bn2EjzpXl~VKc-WFoV1D9jwIk3lxr9qlPPzHTJqIPMxygb~iY~n0whHUxcJOw0wzCrHX10fdDtnzGhG19p4TBhRV9gnj--2GmHzur8neG3ulZ6kynRGxnUTVsST18RYoWzEBMuXH4wI1bUjbeKvyrreEOs-4CYjG3rX3UJstysP2ukYjgjL5l3Rx82MybtHwOKm4KYGu260sIKETtVDew__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat;
        .Contact-item{   
            display: flex;
            flex-direction: column;
            ::placeholder {
                color:#BDAE82;
                line-height: 40px;
            }
            .Contact-name{
                color: #BDAE82;
                font-size: 40px;
                line-height: 80px;
                font-family: Merriweather-Bold;
            }
            input{
                margin-top: 20px;
                color: #BDAE82;
                border: 2px solid #BDAE82;
                background-color: transparent;
                width: 450px;
                height: 50px;
                font-size: 20px;
                padding-left: 20px;

            }    

            textarea{
                margin-top: 20px;
                background-color: transparent;
                padding-left: 20px;
                font-size: 20px;
                border: 2px solid #BDAE82;
                width: 430px;
                height: 100px;
            }
            button{
                background-color: #BDAE82;
                font-size: 20px;
                color: #000;
                width: 220px;
                height: 55px;              
            }
        }
        footer{
            display: flex;
            height: 150px;
        }
    }