/*main*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #000;
    color: #fff;
    margin: 0;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}
/*banner start*/
.banner {
    background-image: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.header-right {
    display: flex;
    align-items: center;
}
.lang {
    display: flex;
    align-items: center;
    gap: 8px;
}
.lang-item {
    font-size: 20px;
    line-height: 50px;
}
.lang-item.active {
    color: #BDAE82;
}
header .nav-list {
    display: flex;
    gap: 30px;
    margin: 0 30px 0 0;
}
.nav-list a {
    font-size: 20px;
    line-height: 50px;
}
.banner-content {
    max-width: 500px;
    padding-right: 16px;
    margin-bottom: 330px;
    margin-top: 180px;
    margin-left: 80px;
}
.banner-header {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 120px;
}
.banner-copy {
    font-size: 20px;
    line-height: 40px;
}
/*banner end*/

.container {
    max-width: 1440px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/*components*/
    /*card*/
.skills-card {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.card-title {
    font-size: 20px;
    margin-top: 43px;
    margin-bottom: 20px;
}

    /*//card*/

    .section-header {
        font-family: 'Merriweather', serif;
        font-size: 40px;
        line-height: 80px;
        color: #BDAE82;
        text-align: center;
    
        margin-bottom: 60px;
    }
    
    .gallery-item {
        margin: 25px 15px;
        max-width: 450px;
    }
    
    /*.section-header span {*/
    /*    position: relative;*/
    /*}*/
    
    /*.section-header span:before {*/
    /*    content: '';*/
    /*    width: 200px;*/
    /*    height: 2px;*/
    /*    background: #BDAE82;*/
    
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    left: -220px;*/
    /*}*/
    /*.section-header span:after {*/
    /*    content: '';*/
    /*    width: 200px;*/
    /*    height: 2px;*/
    /*    background: #BDAE82;*/
    
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    right: -220px;*/
    /*}*/
    
    /*helpers*/
    .m-25 {
        margin-left: 25px;
        margin-right: 25px;
    }

    .mb-50 {
        margin-bottom: 50px;
    }

    .my-40 {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .mt-25 {
        margin-top: 25px;
    }

    .p-40 {
        padding-left: 40px;
        padding-right: 40px;
    }

    .px-20 {
       
        padding: 0 20px;
    }
    .mb-20 {
        margin-bottom: 20px !important;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }

    .justify-content-center {
        justify-content: center;
    } 

    .gap-5 {
        gap: 5px;
    }

    .gap-25{
        gap: 25px;
    }

    .Contact{
        display: flex;
        justify-content: flex-end;
        margin-top: 87.5px;
        min-height: 705px;
        background-image: url(./assets/img/a1a2e2626ca658fe87e53a9bae63dac1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    } 

    .Contact-item {   
        display: flex;
        flex-direction: column;
    }

    .Contact-item ::placeholder {
        color:#BDAE82;
        line-height: 40px;
    }

    .Contact-name {
        color: #BDAE82;
        font-size: 40px;
        line-height: 80px;
        font-family: Merriweather-Bold;
    }

    .Contact-item input{
        margin-top: 20px;
        color: #BDAE82;
        border: 2px solid #BDAE82;
        background-color: transparent;
        width: 450px;
        height: 50px;
        font-size: 20px;
        padding-left: 20px;

    } 

    .Contact-item textarea{
        margin-top: 20px;
        background-color: transparent;
        padding-left: 20px;
        font-size: 20px;
        border: 2px solid #BDAE82;
        width: 450px;
        height: 100px;
    }

    .button {
        background-color: #000;
        font-size: 20px;
        color: #BDAE82;
        width: 220px;
        height: 55px; 
        margin-top: 30px; 
        border: 2px solid #BDAE82;
        cursor: pointer;        
    }

    .button.active {
        background-color: #BDAE82;
        color:#000;
    }
    .price-card {
        display: flex;
        flex-grow: 1;
        flex-basis: calc(33% - 25px);
        flex-direction:column;
        border: 3px solid #BDAE82;
        margin-bottom: 100px; 
        align-items: center;
    }

    .price-card p{
        font-size: 18px;
        line-height: 36px;
        margin: 0;
    }

    .price {
        color:#BDAE82;
        font-family: "Merriweather";

    }

    .footer{
        display: flex;
        align-items:center;
        height: 150px;
        justify-content: space-between;
        font-size: 20px;
    }

    .footer__left{
            line-height: 50px;
            margin-left: 20px;
    }

    .footer__center{
            line-height: 50px;
    }

    .footer__right{
        margin: 15px;    
    }

    .footer__icons{
        display: flex;
    }

    .footer__icons li {
        padding: 9px;
    }